/*
Da aggiungere/sistemare:
-CSS secondari
-Autori
-short&fav icon
-footer
-nelle pagine diverse dalla home vanno aggiunti i link alla ricerca e all'offerta
*/

html,body{
	background-color : #f4f4f0;
	margin : auto;
	max-width : 1024px; /*PROVVISORIO*/
	font-family: Verdana, Helvetica, sans-serif;
    /*font-size:0.9em;*/
}

#header, /*#elenco,*/ #corpo, #footer{
	background-color : white;
	border : 1px solid;
	border-color : #d4d4c4; 
	padding : 1em;
}

/*ELENCO ORIZZONTALE*/

/*Problema -> schermo piccolo = disastro*/

#elenco{
	/*padding: 0;*/
}
#elenco li {
	list-style : none;
	display : inline; /*Lista orizzontale*/
	/*Problema -> schermo piccolo = disastro*/
}
#elenco li a {
    background-color: #333333;
    color: white;
    padding: 10px 20px; /*indica la grandezza del blocco*/
    /*text-decoration: none;*//*toglie la sottolineatura*/
}
#active { /*crea il blocco per la pagina attiva - da inserire in tutte le pagine*/
    background-color: black;
    color: white;
    padding: 10px 20px; /*indica la grandezza del blocco*/
    /*text-decoration: none;*//*toglie la sottolineatura*/
}
#elenco li a:hover {
    background-color: orange;
}

#footer /*p*/{
	text-align : center;
}
