/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

/*stampa..da mobile?????*/

html,body{
	background-color : grey; /*test*/
	/*background-image : url("Immagini/");*/
	font-size : 100%;
	margin : 0 auto;
	font-family: Verdana, Helvetica, sans-serif;
	max-width : 100%;
}

/**  HEADER  **/

#header{
	background-color : white;
	height : 40px; /*altezza responsive?*/
	/*margin-bottom : 1%;*/
}

#banner{
	height : 100%;
}

#bottoneMenu{
	display : block;
	/*padding : 1%;*/
	border : 1px solid;
	/*margin : 1%;*/
	float : right;
}

/**  BARRA UTENTE  **/

#utente{
	text-align : center;
	background-color : white;
	border : 1px solid;
	padding : 3%;
}
#utente p{
	display : inline;
	padding-right : 5%;
	white-space: nowrap; /*non c'è il supporto totale*/
}
#utente a{
	padding-left : 3%;
	padding-right : 3%;
}

/**  CORPO  **/

#contenuto{
	border : 1px solid; /*test, da togliere*/
	margin-bottom : 1%;
	padding : 5%;
}

h1, h2{
	margin : 0;
}

/**  FOOTER  **/

#footer{
	background-color : white;
	text-align : center;
	padding : 3%;
	padding-bottom : 5%;
}
#footer a{
	padding-left: 3%;
	padding-right : 3%;
}

/**  LISTA MENU'  **/

ul{
	list-style : none;
	margin : 0;
	padding : 0;
}

li{
	/*background-color : white;
	/*width : 100%;*/
	/*border : 1px solid; /* provvisorio */
	/*margin-bottom : 0.9cm;
	margin-top : 0.9cm;*/
}

#menu li a{
	display : block;
	border : 1px solid;
	background-color : white;
	/*padding-top : 0.4cm;
	padding-bottom : 0.4cm;
	padding-left : 1%;*/
	padding : 0.5cm; /*************/
}

.frecceMenu{
	float :right;
}

/**  NULLA  **/
.right {
	float: right;
	position: relative;
	top: -80px;
}

/**  FORM  **/

/*NB: si può creare un placeholder con un immagine di sfondo dell'input*/

input{
	font-size : 100%; /* per modificare la grandezza del testo nelle form*/
}

.radiolabel{ /*in alternativa, usare un div -> permette di muovere il radio button tutto assieme */
	margin-left : 0;
}

input[type=text], input[type=password]{
	height : 1cm;
	width : 99%;
	padding : 0; /* NB: il padding modifica la grandezza del riquadro*/
	padding-left : 1%;
	margin-bottom : 3%; /*in alternativa si può mettere il margin al label*/
	margin-top : 1%;
	border : 0;
}

input[type=text]:focus {
    /*background-color: ;
	border : ;*/
}

input[type=radio]{
	margin-top: 1%;
	margin-bottom : 1%;
}

select{
	height : 1cm;
	margin-left : 1%;
	/*padding : 1%;*/
}

input[type=submit]{
	/*width: ;*/
	height : 1cm;
	/*padding : 1%;*/
	cursor: pointer;
	margin-bottom : 1%;
	
}

textarea{
	width : 99%;
	height : 1cm;
	margin-top : 1%;
	margin-bottom : 2%;
	border : 0;
}

fieldset { 
    /*display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;*/ /*	valori std */
	margin : 0;
	padding : 0;
    border: none /*2px groove*/;
}

/**  MESSAGGI  **/

.conversazione{
	max-width : 100%;
	border : 1px solid;
}

.conversazione a{
	display : block; 
	padding : 0.5cm;
}

.ora{
	float : right;
}

.ultimoMessaggio { /* solo per desktop*/
	display : none;
}

/**  SINGOLA CONVERSAZIONE  **/

.ricevuti, .inviati{
	border : 1px solid;
}

/**  INSERIMENTO FEEDBACK  **/

.guidatore, .passeggero{
	border : 1px solid;
}

/**  PROFILO PUBBLICO  **/

#descrizione{
	border : 1px solid;
	padding : 2%;
	border-radius : 15px; /* border radius non è totalmente compatibile, ma dovrebbe andare bene lo stesso; 
									l'unica differenza è che se non funzia si vedrà spigoloso*/
}




/**  RISULTATI  **/

.risultato{
	border : 1px solid;
	padding : 5%;
}

.partenza{
	color : #006600;
}

.arrivo{
	color : #e60000;
}






@media screen and (min-width: 1024px) { /*test*/

	.ultimoMessaggio {
	display: inline;
	}

	#header{
		height : 1.5cm;
	}
	
	#bottoneMenu{
		display : none;
	}
	
	/**  BARRA UTENTE  **/
	
	#utente{
		position : absolute;
		top : 0;
		right : 0;
		padding : 0;
		padding-top : 1%;
		padding-bottom : 1%;
		max-height : 1.5cm;
		border : 0;
	}
	
	/**  LISTA MENU'  **/

	ul{
		position : absolute;
		top : 1.5cm;
		left : 5%;
		list-style : none;
		margin : 0;
		padding : 0;
	}

	li{
		float : left;
	/*background-color : white;
	/*width : 100%;*/
	/*border : 1px solid; /* provvisorio */
	/*margin-bottom : 0.9cm;
	margin-top : 0.9cm;*/
	}

	#menu li a{
		display : block;
		border : 1px solid;
		background-color : white;
		/*padding-top : 0.4cm;
		padding-bottom : 0.4cm;
		padding-left : 1%;*/
		padding : 0.5cm; /*************/
	}
	
	#menu li a:hover{
		background-color : #00ace6;
	}
	
	.frecceMenu{
		display : none;
	}
}







/***********************************

/*
:focus{
	border : 1px solid red; test
}*/


/* Da usare per mettere il form su un'unica riga */
.acapo{
	/*display : none;*/
}